body, html{
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Raleway';
    overflow-x: hidden;
    
}
textarea:focus, input:focus {
    box-shadow:0 0 0 0;
    border: 0 none;
    outline: 0;
} 
a {
    text-decoration: none;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid #df2525;
    border-radius: 7px;
}

.input-container--invalido .input-label {
    color: #df2525;
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: #df2525;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

:root{
    .color1 {color: #1f2718;}
    .color2 {color: #484745;}
    .color3 {color: #9e5588;}
    .color4 {color: #e0c2ca;}
    .color5 {color: #eff3e1;}
} 
@media screen and(max-width:768px) {
    body{
        width: min-content;
       
    }
}