body, html{
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Raleway';
    overflow-x: hidden;
}
textarea:focus, input:focus {
    box-shadow:0 0 0 0;
    border: 0 none;
    outline: 0;
} 
a {
    text-decoration: none;
}   
   
/*
:root{
    .color1 {color: #1f2718;}
    .color2 {color: #484745;}
    .color3 {color: #9e5588;}
    .color4 {color: #e0c2ca;}
    .color5 {color: #eff3e1;}
}*/
@media screen and(max-width:768px) {
    body{
        width: min-content;
       
    }
}